/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(43,100,82);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(23,80,62);
  transition: all 0.3s ease 0s;
}

